@{
    ViewData["Title"] = "Contact Us";
}

<div class="row">
    <div class="col-lg-8 mx-auto text-center">
        <div class="section-title">
            <h1>Feel free to Contact Us!</h1>
            <p class="text-muted">We’re Here to Help – Reach Out and Let’s Connect!</p>
        </div>
    </div>
</div>

<p></p>

<p>
    Thank you for your interest in ABC Retail! Whether you have inquiries, feedback, or partnership opportunities, we're eager to hear from you. Feel free to reach out to us through any of the following channels:
</p>

<p> </p>

<h2>Email</h2>
<p>
    For general inquiries or assistance, please contact us via email at <a href="https://www.varsitycollege.co.za/campuses/durban-westville?utm_source=GMBlisting&utm_medium=organic" class="links">abcretailers@gmail.com</a>
</p>

<p> </p>

<h2>Phone</h2>
<p>
    If you prefer speaking with a member of our team, you can reach us by phone at (031) 266 8400 during our business hours.
</p>

<p> </p>

<h2>Address</h2>
<p>
    Visit us at our headquarters located at:
    <br>
    - ABC Retail
    <br>
    - 1 Link Road St James Avenue &, Link Rd
    <br>
    - Westville, Durban
    <br>
    - 3630
    <br>
    - KwaZulu-Natal, South Africa
    <br>
</p>

<p> </p>

<h2>Social Media</h2>
<p>
    Stay connected with us on social media platforms to receive updates, discover new products, and engage with our community:
    <br>
    - Facebook: <a href="https://www.facebook.com/VarsityCollege/" class="links">ABC Retail</a>
    <br>
    - Instagram: <a href="https://www.instagram.com/varsitycollege/?hl=en" class="links">abcretail</a>
    <br>
    - X (Twitter): <a href="https://twitter.com/Varsity_College?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="links">abc_retail</a>
</p>

<p> </p>

<h2>Support Hours</h2>
<p>
    <u>Monday - Friday:</u>.
    Monday - Friday:
    <br>
    8:00 AM to 5:00 PM
    <br>
    <u>Saturday:</u>
    <br>
    8:00 AM to 1:00 PM
    <br>
    We are closed on Sunday's. If you have any enquiries please drop us a message on our email or any one of our social media platforms listed above.
    <br>
</p>

<p>
    We look forward to hearing from you and assisting you on your journey to discover exquisite products!
</p>