/* Add this CSS to your existing styles */

/* Global styles */
html {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/groenbackground.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Headers and text */
p, h1, h2, h3, h4, h5, h6, li, .table-striped th, .table-striped td, .table-bordered th, .table-bordered td, .container {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.text-muted {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4e00d0;
}

.table-bordered {
    background-color: #032224;
}

.small.text-muted {
    color: white;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.links {
    color: #4e00d0;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.yellow-text {
    color: #4e00d0;
}

.links:hover {
    color: #34d38f;
    text-decoration: underline;
}

.dropdown-item {
    color: #34d38f;
    background-color: #222;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card {
    background: #032224;
    border: 4px solid #34d38f;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
    }

.btn {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: 3px solid #34d38f;
    text-decoration: none;
    transition: all 0.4s ease;
    color: white;
    background: #032224;
}

    .btn:hover,
    .btn:focus {
        background: #34d38f;
        color: white;
        border-color: #34d38f;
        transform: scale(1.05);
    }

.navbar {
    background-color: #222;
}

.navbar-text,
.nav-link, .navbar-nav .nav-link {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #34d38f !important;
    transition: transform 0.4s ease, color 0.4s ease;
}

    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link:focus {
        color: white !important;
        transform: scale(1.05);
    }

.navbar-brand {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white !important;
    transition: transform 0.4s ease, color 0.4s ease;
}

    .navbar-brand:hover {
        transform: scale(1.05);
        color: #34d38f !important;
    }

.white-text {
    color: white;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-bg-info {
    color: #fff !important;
    background-color: #34d38f !important;
}

/* Search bar */
.input-group-text {
    background-color: black;
    color: #34d38f;
    border-color: #34d38f;
}

.form-control {
    background-color: black;
    color: #34d38f;
    border-color: #34d38f;
    font-family: "Nunito Sans", serif;
}

.form-select {
    background-color: black;
    color: white;
    border-color: #34d38f;
    font-family: "Nunito Sans", serif;
}

.form-control:focus {
    background-color: black !important;
    color: white !important;
    border-color: #34d38f !important;
    box-shadow: 0 0 0 0.25rem #34d38f !important;
    font-family: "Nunito Sans", serif;
}

.form-control[type="file"]::-webkit-file-upload-button {
    background-color: black !important;
    color: #34d38f !important;
    border-color: #34d38f !important;
    box-shadow: 0 0 0 0.25rem #34d38f !important;
    font-family: "Nunito Sans", serif;
}

/* "Out of stock" message */
.out-of-stock {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: 3px solid red;
    padding: 5px 8px;
    color: red;
    background: black;
    text-decoration: none;
    display: block;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    text-align: center;
}

/* Full-width button */
.btn-full-width {
    width: calc(100% - 2rem);
    margin: 0 1rem;
}

/* Custom green button */
.green-button {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.4s ease;
    width: calc(100% - 2rem);
    margin: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
}

    .green-button:hover {
        background-color: #218838;
        border-color: #1e7e34;
        color: white;
        transform: scale(1.05);
    }

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: black;
    background-clip: padding-box;
    border: #34d38f !important;
    border-radius: .3rem;
    outline: 0;
}

.modal-title {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #34d38f;
}
